{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to Map of Local Issues</h1>
      <p>This is your home page.</p>

      {% if user.is_authenticated %}
        <p>Hello, {{ user.email }}! You are logged in as {{ user.get_role_display }}.</p>
        <a href="{% url 'issues:map' %}" class="btn btn-success">Go to Map</a>
        <a href="{% url 'users:profile' %}" class="btn btn-primary">View Profile</a>
        <a href="{% url 'users:logout' %}" class="btn btn-secondary">Logout</a>
      {% else %}
        <p>Please <a href="{% url 'users:login' %}">login</a> or <a href="{% url 'users:register' %}">register</a> to get started.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}