{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Карта локальных проблем{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/alerts.css' %}">
    
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__logo">
                <img src="{% static 'icons/лого.svg' %}" alt="логотип проекта" class="logo-icon">
                <a class="navbar-brand" href="{% url 'home' %}"><h1>КАРТА ЛОКАЛЬНЫХ<br>ПРОБЛЕМ</h1></a>
            </div>

            <nav class="header__nav">
                <ul class="list_nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'issues:map' %}" class="{% if request.resolver_match.url_name == 'map' %}active{% endif %}">карта</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}" class="{% if request.resolver_match.url_name == 'map' %}active{% endif %}">карта</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:my_issues' %}" class="{% if request.resolver_match.url_name == 'my_issues' %}active{% endif %}">
                            {% if user.role == 'citizen' %}
                                мои запросы
                            {% else %}
                                запросы
                            {% endif %}
                        </a></li>
                    {% endif %}
                </ul>
            </nav>

            <div class="header_main_nav">
                <ul>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:profile' %}">{% trans "Профиль" %}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">{% trans "Войти" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">{% trans "Зарегистрироваться" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>


    {% if messages %}
        {% for message in messages %}
            {% if 'users' in message.tags %}
            <div class="container mt-3">
            {% if 'success' in message.tags %}
                <div class="custom-alert custom-alert-success custom-alert-dismissible fade show" role="alert">
            {% else %}
                <div class="custom-alert custom-alert-info custom-alert-dismissible fade show" role="alert">
            {% endif %}
                {{ message }}
                <button type="button" class="custom-btn-close" data-dismiss="alert" aria-label="{% trans 'Закрыть' %}"></button>
            </div>
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-text">
                    <div class="footer-links">
                        <a href="{% url 'about_site' %}">O проекте</a>
                    </div>
                    <div class="footer-copyright">
                        <p>© 2025, Активный гражданин. Все права защищены</p>
                        <p>Свидетельство на товарный знак от 13.02.2022 № 000000</p>
                    </div>
                </div>

                <div class="footer-social">
                    <a href="https://vk.com/" class="social-icon" target="_blank">
                        <img src="{% static 'icons/vk.svg' %}" alt="ВКонтакте">
                    </a>
                    <a href="https://web.telegram.org/" class="social-icon" target="_blank">
                        <img src="{% static 'icons/tg.svg' %}" alt="Telegram">
                    </a>
                    <a href="https://ok.ru/" class="social-icon" target="_blank">
                        <img src="{% static 'icons/odnokl.svg' %}" alt="Одноклассники">
                    </a>
                </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'js/alerts.js' %}"></script>

</body>
</html>